/* здесь используйте глобальные переменные */
/* colors */
$base-color-text: #444444;
$bg-basic-green: #68b738;

/* fonts */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

/* Viewports */
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
