.advantages__wrapper {
  width: 290px;
  padding: 20px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-left: 30px;
    padding-right: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 110px 106px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 153px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 94px;
  }
}

.advantages__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item {
  position: relative;

  &--health::before {
    background-image: url("../../icons/health-icon.svg");
    background-size: 30px 32px;
  }

  &--powder::before {
    background-image: url("../../icons/powder-icon.svg");
    background-size: 26px 29px;
  }

  &--eating::before {
    background-image: url("../../icons/eating-icon.svg");
    background-size: 25px 30px;
  }

  &--changes::before {
    background-image: url("../../icons/changes-icon.svg");
    background-size: 26px 31px;
  }
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
  background-repeat: no-repeat;
}
