.advantages__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.advantages__item {
  position: relative;

  &--health::after {
    background-image: url("../../icons/health-icon.svg");
    background-size: 30px 32px;
    background-repeat: no-repeat;
  }

  &--powder::after {
    background-image: url("../../icons/powder-icon.svg");
    background-size: 26px 29px;
    background-repeat: no-repeat;
  }

  &--eating::after {
    background-image: url("../../icons/eating-icon.svg");
    background-size: 25px 30px;
    background-repeat: no-repeat;
  }

  &--changes::after {
    background-image: url("../../icons/changes-icon.svg");
    background-size: 26px 31px;
    background-repeat: no-repeat;
  }
}

.advantages__item::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
  background-repeat: no-repeat;
}
