.button {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: $bg-basic-green;
  text-decoration: none;
  border: none;
}

.button--show {
  color: $base-color-text;
  background-color: #f2f2f2;
}
