.card__link {
  text-decoration: none;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.card__text .card__termin {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.button--show {
  color: $base-color-text;
  background-color: #f2f2f2;
}
