.contacts {
  background-color: #ffffff;
  position: relative;
}

.contacts__container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 70px 61px;
  }

  @media (min-width: $desktop-width) {
    width: 565;
    height: 199px;
    padding: 60px 80px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #ffffff;
  }
}

.contacts__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
}
