.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 50%, #eaeaea 50%);
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    background-image: linear-gradient(#ffffff 50%, #f2f2f2 50%);
  }
}


.example__content {
  @media (min-width: $desktop-width) {
    width: 366px;
    margin: 0;
  }
}

.example__list {
  display: flex;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.example__item {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $desktop-width) {
    width: 162px;
    padding: 15px 57px 20px;
  }
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__description {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__termin {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 96px;
  }
}

.example__coast {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    flex-direction: column;
    row-gap: 9px;
  }
}
