.hero {
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  /*
  background-image: url("../../images/hero-background-desktop@1x.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
