.main-nav__toggle {
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/open-icon.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 436px;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }
}

