.present {
  color: #ffffff;
  background-color: $bg-basic-green;
  /*
  background-image: url("../../images/cat-case-desktop@1x.png");
  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.present__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
